<config>
    <modules>
        <Zafar_KeyFeatures>
            <version>1.0.0</version>
            <depends>
                <Mage_Catalog />
            </depends>
        </Zafar_KeyFeatures>
    </modules>
    <global>
        <models>
            <keyfeatures>
                <class>Zafar_KeyFeatures_Model</class>
            </keyfeatures>
        </models>
        <helpers>
            <keyfeatures>
                <class>Zafar_KeyFeatures_Helper</class>
            </keyfeatures>
        </helpers>
        <blocks>
            <keyfeatures>
                <class>Zafar_KeyFeatures_Block</class>
            </keyfeatures>
        </blocks>
        <resources>
            <keyfeatures_setup>
                <setup>
                    <module>Zafar_KeyFeatures</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </keyfeatures_setup>
            <keyfeatures_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </keyfeatures_write>
            <keyfeatures_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </keyfeatures_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <keyfeatures>
                    <file>keyfeatures.xml</file>
                </keyfeatures>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <catalog>
                        <type>singleton</type>
                        <class>Zafar_KeyFeatures_Model_Observer</class>
                        <method>addKeyFeturesProperties</method>
                    </catalog>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>
</config>